*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior: smooth;
}

.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

header .container{
  width: 1500px;
  max-width: 98%;
}

.row{
  display: flex;
  justify-content: space-between;
}

.flex{
  display: flex;
}

.sb{
  justify-content: space-between;
}

.wrap{
  flex-wrap: wrap;
}

.jc{
  justify-content: center;
}

.aic{
  align-items: center;
}

ul{
  list-style: none;
}

header nav li{
  padding: 20px;
}

header nav li img{
  vertical-align: middle;
}


header a{
  text-decoration: none;
  color: black;
}

a.button{
  text-decoration: none;
  border: none;
  color: white;
  background-color: #0061FF;
  padding: 8px 10px;

}

header{
  height: 850px;
}

.jumbotron{
  height: 600px;
  background-color: #B4D0E7;
}

.relative{
  position: relative;
}

header .jumbotron .container{
  width: 1200px;
  height: 450px;
}

header .jumbotron .container .row{
  padding-top: 20px;
}

header .jumbotron .container h1{
  font-size: 4rem;
}

header .jumbotron .container p{
  font-size: 1.05rem;
}

.col.p{
  width: 30%;
}

.col.img{
  width: 70%;
}

img{
  width: 100%;
}

header .jumbotron .col.relative span a.button{
  position: absolute;
  top: 150px;
}

header .jumbotron .col.relative span a.annulla{
  position: absolute;
  top: 190px;
}

header .jumbotron .col.relative span a.freccia{
  position: absolute;
  bottom: 130px;
}

header .jumbotron .col.relative span a.freccia i{
  font-size: 4rem;
}

main .container{
  width: 1000px;
  height: 2000px;
}

main .container h2{
  font-size: 3rem;
}

form{
  padding: 30px 30px 30px 0px;
}

main form label{
  margin-right: 30px;
}

.containercard{
  max-width: 100%;
  flex-wrap: wrap;
}

.card{
  max-width: 300px;
  padding: 30px;
}

.oriz{
  width: 100%;
}

.card-oriz{
  padding: 20px;
}

.mt{
  margin-top: 20px;
}

h3{
  font-size: 1.8rem;
}

.abbonamento{
  margin-top: 10px;
  color: #666666;
}

.lista-per-chi, .provafree{
  margin-top: 50px;
}

.puntisalienti{
  padding-top: 100px;
}

.provafree a, .contatta a{
  padding: 8px 29px;

}

.partner .col:first-child{
  width: 60%;
}

.partner .col:last-child{
  width: 40%;
}

.border{
  border: 1px solid #E4E4E5;
}

.business{
  margin-top: 200px;
}
